In [1]:
import pandas as pd
import io
import requests
from datetime import timedelta, datetime, date
import nltk
nltk.download('punkt')

In [112]:
url="https://www.vdh.virginia.gov/content/uploads/sites/182/2020/05/VDH-COVID-19-PublicUseDataset-Cases.csv"
df=pd.read_csv(url)
dates=df["Report Date"].unique()
localities=df["Locality"].unique()
localities

array(['Accomack', 'Albemarle', 'Alleghany', 'Amelia', 'Amherst',
       'Appomattox', 'Arlington', 'Augusta', 'Bath', 'Bedford', 'Bland',
       'Botetourt', 'Brunswick', 'Buchanan', 'Buckingham', 'Campbell',
       'Caroline', 'Carroll', 'Charles City', 'Charlotte', 'Chesterfield',
       'Clarke', 'Craig', 'Culpeper', 'Cumberland', 'Dickenson',
       'Dinwiddie', 'Essex', 'Fairfax', 'Fauquier', 'Floyd', 'Fluvanna',
       'Franklin County', 'Frederick', 'Giles', 'Gloucester', 'Goochland',
       'Grayson', 'Greene', 'Greensville', 'Halifax', 'Hanover',
       'Henrico', 'Henry', 'Highland', 'Isle of Wight', 'James City',
       'King and Queen', 'King George', 'King William', 'Lancaster',
       'Lee', 'Loudoun', 'Louisa', 'Lunenburg', 'Madison', 'Mathews',
       'Mecklenburg', 'Middlesex', 'Montgomery', 'Nelson', 'New Kent',
       'Northampton', 'Northumberland', 'Nottoway', 'Orange', 'Page',
       'Patrick', 'Pittsylvania', 'Powhatan', 'Prince Edward',
       'Prince George', 'Prince William', 'Pulaski', 'Rappahannock',
       'Richmond County', 'Roanoke County', 'Rockbridge', 'Rockingham',
       'Russell', 'Scott', 'Shenandoah', 'Smyth', 'Southampton',
       'Spotsylvania', 'Stafford', 'Surry', 'Sussex', 'Tazewell',
       'Warren', 'Washington', 'Westmoreland', 'Wise', 'Wythe', 'York',
       'Alexandria', 'Bristol', 'Buena Vista City', 'Charlottesville',
       'Chesapeake', 'Colonial Heights', 'Covington', 'Danville',
       'Emporia', 'Fairfax City', 'Falls Church', 'Franklin City',
       'Fredericksburg', 'Galax', 'Hampton', 'Harrisonburg', 'Hopewell',
       'Lexington', 'Lynchburg', 'Manassas City', 'Manassas Park',
       'Martinsville', 'Newport News', 'Norfolk', 'Norton', 'Petersburg',
       'Poquoson', 'Portsmouth', 'Radford', 'Richmond City',
       'Roanoke City', 'Salem', 'Staunton', 'Suffolk', 'Virginia Beach',
       'Waynesboro', 'Williamsburg', 'Winchester'], dtype=object)

In [10]:
start_date = '4/01/2020'
end_date = '5/01/2020'
april_dates=[]
for date in dates:
    if (date >= start_date and date < end_date):
        april_dates.append(date)


april_dates2 = pd.to_datetime(april_dates)
april_dates2

DatetimeIndex(['2020-04-30', '2020-04-29', '2020-04-28', '2020-04-27',
               '2020-04-26', '2020-04-25', '2020-04-24', '2020-04-23',
               '2020-04-22', '2020-04-21', '2020-04-20', '2020-04-19',
               '2020-04-18', '2020-04-17', '2020-04-16', '2020-04-15',
               '2020-04-14', '2020-04-13', '2020-04-12', '2020-04-11',
               '2020-04-10', '2020-04-09', '2020-04-08', '2020-04-07',
               '2020-04-06', '2020-04-05', '2020-04-04', '2020-04-03',
               '2020-04-02', '2020-04-01'],
              dtype='datetime64[ns]', freq=None)

In [11]:
# date column to datetime
df['Report Date'] = pd.to_datetime(df['Report Date'])
start_date = '03-31-2020'
end_date = '05-15-2020'
mask = (df['Report Date'] > start_date) & (df['Report Date'] < end_date)
april_data = df.loc[mask]
april_data

,Report Date,FIPS,Locality,VDH Health District,Total Cases,Hospitalizations,Deaths
7182,2020-05-14,51001,Accomack,Eastern Shore,593,26,8
7183,2020-05-14,51003,Albemarle,Thomas Jefferson,130,18,4
7184,2020-05-14,51005,Alleghany,Alleghany,6,4,0
7185,2020-05-14,51007,Amelia,Piedmont,17,7,1
7186,2020-05-14,51009,Amherst,Central Virginia,21,3,0
...,...,...,...,...,...,...,...
13029,2020-04-01,51800,Suffolk,Western Tidewater,6,1,0
13030,2020-04-01,51810,Virginia Beach,Virginia Beach,88,13,3
13031,2020-04-01,51820,Waynesboro,Central Shenandoah,2,0,0
13032,2020-04-01,51830,Williamsburg,Peninsula,9,3,1
13033,2020-04-01,51840,Winchester,Lord Fairfax,5,0,0

In [12]:
april_data.drop(["FIPS","VDH Health District"], axis=1)
april_data

,Report Date,FIPS,Locality,VDH Health District,Total Cases,Hospitalizations,Deaths
7182,2020-05-14,51001,Accomack,Eastern Shore,593,26,8
7183,2020-05-14,51003,Albemarle,Thomas Jefferson,130,18,4
7184,2020-05-14,51005,Alleghany,Alleghany,6,4,0
7185,2020-05-14,51007,Amelia,Piedmont,17,7,1
7186,2020-05-14,51009,Amherst,Central Virginia,21,3,0
...,...,...,...,...,...,...,...
13029,2020-04-01,51800,Suffolk,Western Tidewater,6,1,0
13030,2020-04-01,51810,Virginia Beach,Virginia Beach,88,13,3
13031,2020-04-01,51820,Waynesboro,Central Shenandoah,2,0,0
13032,2020-04-01,51830,Williamsburg,Peninsula,9,3,1
13033,2020-04-01,51840,Winchester,Lord Fairfax,5,0,0

In [13]:
cases_14=[]
hosp_14=[]
death_14=[]

start_date = datetime(2020,4,14)
end_date = datetime(2020,5,16)

for i in april_data.index: 
    if april_data["Report Date"][i] > start_date and april_data["Report Date"][i] < end_date:
        cases_14.append(april_data["Total Cases"][i])
        hosp_14.append(april_data["Hospitalizations"][i])
        death_14.append(april_data["Deaths"][i])

In [14]:
start_date = '03-31-2020'
end_date = '05-01-2020'

mask = (april_data['Report Date'] > start_date) & (april_data['Report Date'] < end_date)

april= april_data.loc[mask]
april.describe()

               FIPS  Total Cases  Hospitalizations       Deaths
count   3990.000000  3990.000000       3990.000000  3990.000000
mean   51263.992481    56.112030          8.899248     1.767419
std      270.892941   196.231258         32.636122     7.831680
min    51001.000000     0.000000          0.000000     0.000000
25%    51069.000000     3.000000          0.000000     0.000000
50%    51139.000000    10.000000          1.000000     0.000000
75%    51550.000000    31.000000          6.000000     1.000000
max    51840.000000  3611.000000        606.000000   134.000000

In [15]:
april['Total Cases +14d'] = cases_14
april['Hosp +14d'] = hosp_14
april['Death +14d'] = death_14
april

C:\Users\belac\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\belac\anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\Users\belac\anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,Report Date,FIPS,Locality,VDH Health District,Total Cases,Hospitalizations,Deaths,Total Cases +14d,Hosp +14d,Death +14d
9044,2020-04-30,51001,Accomack,Eastern Shore,264,18,4,593,26,8
9045,2020-04-30,51003,Albemarle,Thomas Jefferson,103,16,4,130,18,4
9046,2020-04-30,51005,Alleghany,Alleghany,6,4,0,6,4,0
9047,2020-04-30,51007,Amelia,Piedmont,15,6,1,17,7,1
9048,2020-04-30,51009,Amherst,Central Virginia,12,1,0,21,3,0
...,...,...,...,...,...,...,...,...,...,...
13029,2020-04-01,51800,Suffolk,Western Tidewater,6,1,0,59,14,1
13030,2020-04-01,51810,Virginia Beach,Virginia Beach,88,13,3,256,54,5
13031,2020-04-01,51820,Waynesboro,Central Shenandoah,2,0,0,6,1,0
13032,2020-04-01,51830,Williamsburg,Peninsula,9,3,1,19,5,1
13033,2020-04-01,51840,Winchester,Lord Fairfax,5,0,0,21,0,0

In [16]:
april.head()
april_clean=april.drop(["FIPS","VDH Health District"], axis=1)

In [17]:
april_clean.head()

,Report Date,Locality,Total Cases,Hospitalizations,Deaths,Total Cases +14d,Hosp +14d,Death +14d
9044,2020-04-30,Accomack,264,18,4,593,26,8
9045,2020-04-30,Albemarle,103,16,4,130,18,4
9046,2020-04-30,Alleghany,6,4,0,6,4,0
9047,2020-04-30,Amelia,15,6,1,17,7,1
9048,2020-04-30,Amherst,12,1,0,21,3,0

In [90]:
cities_in_va=[]
for locality in localities:
    cities_in_va.append(locality + ", VA")

In [159]:
import GetOldTweets3 as got
# location = "Richmond, VA"
from_date = '2020-04-01'
to_date = '2020-04-03'

text_tweets=[]

for city in cities_in_va:

    tweetCriteria = got.manager.TweetCriteria().setNear(city).setSince(from_date).setUntil(to_date).setMaxTweets(5)
    tweets = got.manager.TweetManager.getTweets(tweetCriteria)
    for tweet in tweets:
        text_tweets.append([tweet.date, tweet.text, tweet.hashtags, city])

In [160]:

tweets_df = pd.DataFrame(text_tweets, columns = ['Datetime', 'Text','hashtags', 'city'])
tweets_df['tokenized_tweets'] = tweets_df.apply(lambda row: nltk.word_tokenize(row['Text']), axis=1)


tweets_df['date'] = tweets_df['Datetime'].dt.date
tweets_df
# spark_df = spark.createDataFrame(tweets_df)
# from pyspark.sql.functions import udf, col, lower, regexp_replace

# df_clean = tweets_df((lower(regexp_replace('text', "[^a-zA-Z\\s]", "")).alias('cleaned')),'Datetime','hashtags','location')
# df_clean2=df_clean.dropna(how='any')
# # Tokenize DataFrame
# tokenizer = Tokenizer(inputCol="cleaned", outputCol="tokens")
# wordsData = tokenizer.transform(df_clean2)
# # Remove stop words
# from pyspark.ml.feature import StopWordsRemover
# remover = StopWordsRemover(inputCol="tokens", outputCol="filtered")
# removed=remover.transform(wordsData)
# removed.show(truncate=False)
# #change to pandas
# pandas_df = removed.toPandas() 
# pandas_df['date'] = pandas_df['Datetime'].dt.date

,Datetime,Text,hashtags,city,tokenized_tweets,date
0,2020-04-01 23:23:43+00:00,J/K.. but for real @Activated Biohacker https:...,,"Accomack, VA","[J/K.., but, for, real, @, Activated, Biohacke...",2020-04-01
1,2020-04-01 22:51:58+00:00,Luna #rottiemix @Activated Biohacker https://w...,#rottiemix,"Accomack, VA","[Luna, #, rottiemix, @, Activated, Biohacker, ...",2020-04-01
2,2020-04-01 22:45:59+00:00,"""facts"" session complete! Cookies for her Gran...",#cookies #birthdaycookies,"Accomack, VA","[``, facts, '', session, complete, !, Cookies,...",2020-04-01
3,2020-04-01 17:07:16+00:00,"current weather in Tangier: overcast clouds, 4...",,"Accomack, VA","[current, weather, in, Tangier, :, overcast, c...",2020-04-01
4,2020-04-01 10:51:32+00:00,"current weather in Tangier: light rain, 41Â°F 9...",,"Accomack, VA","[current, weather, in, Tangier, :, light, rain...",2020-04-01
...,...,...,...,...,...,...
646,2020-04-02 23:55:28+00:00,I got: Jay https://www.buzzfeed.com/galpalspor...,,"Winchester, VA","[I, got, :, Jay, https, :, //www.buzzfeed.com/...",2020-04-02
647,2020-04-02 23:51:47+00:00,"Mister sunshine fancy pants himself, the old m...",,"Winchester, VA","[Mister, sunshine, fancy, pants, himself, ,, t...",2020-04-02
648,2020-04-02 23:07:27+00:00,Appreciate the support,,"Winchester, VA","[Appreciate, the, support]",2020-04-02
649,2020-04-02 22:46:47+00:00,"not gonna lie, not having any place to wear ma...",,"Winchester, VA","[not, gon, na, lie, ,, not, having, any, place...",2020-04-02
650,2020-04-02 22:15:17+00:00,Thanks for the heads up! Iâ€™ll keep an eye out,,"Winchester, VA","[Thanks, for, the, heads, up, !, I, â€™, ll, kee...",2020-04-02

In [175]:

test_dates=['2020-04-01','2020-04-02','2020-04-03']
mask_count=[]


counter=0
for i in tweets_df["tokenized_tweets"]:
    for word in i:
        if word == 'for':
            counter += 1
            mask_count.append(counter)

# counter=0
# for date in april_dates2:
#     counter=0
#     for city in cities_in_va:
#         for i in tweets_df["tokenized_tweets"]:
#             for word in i:
#                 if word == 'for':
#                     counter += 1
#         mask_count.append([date,city,counter])

In [176]:
mask_count

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86]

In [150]:
mask_count_df=pd.DataFrame({'date':april_dates2, 'location': cit, 'maskCount': mask_count})
mask_count_df

ValueError: arrays must all be same length