In [1]:
import pandas as pd
import io
import requests
from datetime import timedelta, datetime, date

In [2]:
url="https://www.vdh.virginia.gov/content/uploads/sites/182/2020/05/VDH-COVID-19-PublicUseDataset-Cases.csv"

df=pd.read_csv(url)
df.head()
df.count()

Report Date            15029
FIPS                   15029
Locality               15029
VDH Health District    15029
Total Cases            15029
Hospitalizations       15029
Deaths                 15029
dtype: int64

In [3]:
dates=df["Report Date"].unique()
localities=df["Locality"].unique()

In [4]:
start_date = '4/01/2020'
end_date = '5/01/2020'
april_dates=[]
for date in dates:
    if (date >= start_date and date < end_date):
        april_dates.append(date)


april_dates2 = pd.to_datetime(april_dates)
april_dates2

DatetimeIndex(['2020-04-30', '2020-04-29', '2020-04-28', '2020-04-27',
               '2020-04-26', '2020-04-25', '2020-04-24', '2020-04-23',
               '2020-04-22', '2020-04-21', '2020-04-20', '2020-04-19',
               '2020-04-18', '2020-04-17', '2020-04-16', '2020-04-15',
               '2020-04-14', '2020-04-13', '2020-04-12', '2020-04-11',
               '2020-04-10', '2020-04-09', '2020-04-08', '2020-04-07',
               '2020-04-06', '2020-04-05', '2020-04-04', '2020-04-03',
               '2020-04-02', '2020-04-01'],
              dtype='datetime64[ns]', freq=None)

In [5]:
# date column to datetime
df['Report Date'] = pd.to_datetime(df['Report Date'])

start_date = '03-31-2020'
end_date = '05-15-2020'

mask = (df['Report Date'] > start_date) & (df['Report Date'] < end_date)

april_data = df.loc[mask]
april_data

,Report Date,FIPS,Locality,VDH Health District,Total Cases,Hospitalizations,Deaths
7182,2020-05-14,51001,Accomack,Eastern Shore,593,26,8
7183,2020-05-14,51003,Albemarle,Thomas Jefferson,130,18,4
7184,2020-05-14,51005,Alleghany,Alleghany,6,4,0
7185,2020-05-14,51007,Amelia,Piedmont,17,7,1
7186,2020-05-14,51009,Amherst,Central Virginia,21,3,0
...,...,...,...,...,...,...,...
13029,2020-04-01,51800,Suffolk,Western Tidewater,6,1,0
13030,2020-04-01,51810,Virginia Beach,Virginia Beach,88,13,3
13031,2020-04-01,51820,Waynesboro,Central Shenandoah,2,0,0
13032,2020-04-01,51830,Williamsburg,Peninsula,9,3,1
13033,2020-04-01,51840,Winchester,Lord Fairfax,5,0,0

In [6]:
april_data.drop(["FIPS","VDH Health District"], axis=1)

april_data

,Report Date,FIPS,Locality,VDH Health District,Total Cases,Hospitalizations,Deaths
7182,2020-05-14,51001,Accomack,Eastern Shore,593,26,8
7183,2020-05-14,51003,Albemarle,Thomas Jefferson,130,18,4
7184,2020-05-14,51005,Alleghany,Alleghany,6,4,0
7185,2020-05-14,51007,Amelia,Piedmont,17,7,1
7186,2020-05-14,51009,Amherst,Central Virginia,21,3,0
...,...,...,...,...,...,...,...
13029,2020-04-01,51800,Suffolk,Western Tidewater,6,1,0
13030,2020-04-01,51810,Virginia Beach,Virginia Beach,88,13,3
13031,2020-04-01,51820,Waynesboro,Central Shenandoah,2,0,0
13032,2020-04-01,51830,Williamsburg,Peninsula,9,3,1
13033,2020-04-01,51840,Winchester,Lord Fairfax,5,0,0

In [72]:
cases_14=[]
hosp_14=[]
death_14=[]

start_date = datetime(2020,4,14)

end_date = datetime(2020,5,16)

for i in april_data.index:
#     two_weeks_later=april_data["Report Date"][i] + timedelta(days=14)  
    if april_data["Report Date"][i] > start_date and april_data["Report Date"][i] < end_date:
        cases_14.append(april_data["Total Cases"][i])
        
#     if two_weeks_later <= april_data["Report Date"].max():    
#         cases_14=(april_data["Total Cases"].loc[(april_data["Report Date"]==two_weeks_later)])
#         cases_14.append(april_data["Total Cases"].loc[(april_data["Report Date"]==two_weeks_later) & (april_data["Locality"]==locality)])
        
#         april_data["Total Cases +14"][i]=april_data.loc[(april_data["Report Date"]==two_weeks_later)&(april_data["Locality"]==locality),april_data["Total Cases"]]

In [75]:
cases_14

[593,
 130,
 6,
 17,
 21,
 22,
 1499,
 70,
 0,
 40,
 0,
 30,
 20,
 16,
 348,
 13,
 41,
 40,
 21,
 11,
 909,
 16,
 4,
 329,
 18,
 0,
 33,
 29,
 6951,
 200,
 4,
 79,
 30,
 191,
 5,
 28,
 86,
 18,
 16,
 49,
 27,
 198,
 1174,
 28,
 2,
 114,
 174,
 7,
 44,
 12,
 7,
 10,
 1339,
 59,
 6,
 23,
 5,
 146,
 11,
 66,
 12,
 28,
 184,
 15,
 14,
 50,
 143,
 6,
 17,
 23,
 72,
 48,
 3351,
 10,
 10,
 203,
 83,
 11,
 381,
 6,
 7,
 278,
 15,
 134,
 282,
 426,
 6,
 53,
 6,
 90,
 49,
 42,
 23,
 15,
 61,
 1349,
 3,
 8,
 68,
 362,
 73,
 2,
 43,
 50,
 45,
 39,
 26,
 80,
 65,
 156,
 615,
 48,
 5,
 73,
 515,
 170,
 3,
 179,
 338,
 2,
 57,
 7,
 217,
 3,
 611,
 120,
 32,
 23,
 221,
 528,
 21,
 42,
 75,
 545,
 126,
 6,
 17,
 20,
 22,
 1460,
 66,
 0,
 40,
 0,
 30,
 20,
 16,
 347,
 13,
 39,
 39,
 21,
 11,
 862,
 16,
 4,
 320,
 18,
 0,
 30,
 29,
 6666,
 190,
 4,
 79,
 30,
 182,
 5,
 28,
 82,
 18,
 16,
 49,
 25,
 183,
 1146,
 28,
 2,
 113,
 174,
 6,
 44,
 12,
 7,
 10,
 1283,
 59,
 6,
 22,
 5,
 138,
 10,
 66,
 12,
 28,
 174,
 11,
 14,
 50,
 140,
 6,
 17,
 22,
 69,
 46,
 3181,
 9,
 10,
 200,
 80,
 11,
 373,
 6,
 7,
 271,
 15,
 132,
 270,
 413,
 6,
 38,
 6,
 88,
 49,
 42,
 23,
 15,
 60,
 1305,
 3,
 8,
 68,
 354,
 71,
 1,
 41,
 50,
 43,
 39,
 25,
 72,
 64,
 148,
 607,
 45,
 5,
 72,
 459,
 152,
 2,
 171,
 327,
 2,
 53,
 7,
 213,
 3,
 592,
 116,
 32,
 21,
 221,
 519,
 21,
 42,
 73,
 530,
 124,
 6,
 17,
 17,
 22,
 1416,
 64,
 0,
 38,
 0,
 30,
 20,
 16,
 301,
 13,
 38,
 34,
 21,
 11,
 837,
 16,
 4,
 291,
 16,
 0,
 30,
 26,
 6470,
 180,
 3,
 78,
 28,
 175,
 8,
 27,
 82,
 16,
 16,
 48,
 24,
 174,
 1106,
 27,
 2,
 113,
 174,
 6,
 44,
 12,
 7,
 10,
 1210,
 56,
 6,
 21,
 5,
 138,
 10,
 66,
 12,
 26,
 171,
 10,
 14,
 48,
 129,
 5,
 17,
 21,
 68,
 45,
 3078,
 9,
 10,
 200,
 79,
 9,
 364,
 6,
 7,
 260,
 13,
 131,
 261,
 396,
 6,
 38,
 7,
 87,
 48,
 41,
 22,
 14,
 59,
 1240,
 3,
 8,
 68,
 343,
 67,
 1,
 41,
 49,
 40,
 37,
 26,
 66,
 56,
 147,
 584,
 44,
 5,
 70,
 430,
 139,
 2,
 166,
 319,
 2,
 53,
 7,
 210,
 3,
 565,
 108,
 32,
 18,
 219,
 509,
 21,
 42,
 69,
 524,
 123,
 6,
 17,
 16,
 22,
 1399,
 64,
 0,
 38,
 0,
 30,
 19,
 16,
 246,
 13,
 38,
 34,
 21,
 11,
 789,
 16,
 4,
 276,
 13,
 0,
 28,
 24,
 6200,
 180,
 3,
 79,
 28,
 166,
 8,
 27,
 81,
 15,
 15,
 47,
 22,
 171,
 1083,
 25,
 2,
 112,
 173,
 5,
 42,
 12,
 6,
 10,
 1195,
 56,
 6,
 21,
 5,
 134,
 10,
 66,
 10,
 26,
 170,
 10,
 14,
 47,
 129,
 4,
 17,
 18,
 66,
 45,
 2991,
 9,
 10,
 190,
 79,
 9,
 360,
 6,
 7,
 250,
 13,
 131,
 257,
 384,
 5,
 34,
 7,
 86,
 49,
 38,
 22,
 13,
 57,
 1224,
 3,
 8,
 68,
 340,
 66,
 1,
 39,
 49,
 39,
 37,
 26,
 61,
 55,
 146,
 583,
 39,
 5,
 69,
 428,
 135,
 2,
 164,
 308,
 2,
 48,
 7,
 208,
 3,
 546,
 106,
 32,
 18,
 216,
 505,
 21,
 42,
 66,
 508,
 120,
 6,
 17,
 15,
 22,
 1368,
 64,
 0,
 38,
 0,
 29,
 18,
 16,
 246,
 13,
 38,
 33,
 21,
 11,
 787,
 16,
 4,
 264,
 13,
 0,
 27,
 23,
 5892,
 172,
 3,
 79,
 27,
 164,
 8,
 27,
 81,
 12,
 15,
 46,
 22,
 170,
 1067,
 22,
 2,
 110,
 173,
 5,
 41,
 11,
 6,
 10,
 1159,
 55,
 6,
 21,
 5,
 122,
 10,
 65,
 10,
 26,
 163,
 10,
 14,
 46,
 128,
 4,
 17,
 18,
 66,
 44,
 2740,
 9,
 8,
 189,
 62,
 9,
 344,
 6,
 7,
 245,
 13,
 131,
 248,
 374,
 5,
 33,
 7,
 85,
 49,
 38,
 22,
 13,
 56,
 1193,
 3,
 8,
 66,
 328,
 66,
 1,
 38,
 48,
 39,
 37,
 26,
 61,
 45,
 144,
 579,
 37,
 4,
 68,
 381,
 120,
 2,
 159,
 304,
 2,
 45,
 7,
 202,
 3,
 530,
 93,
 31,
 15,
 215,
 491,
 21,
 39,
 66,
 496,
 119,
 6,
 17,
 15,
 22,
 1332,
 64,
 0,
 38,
 0,
 29,
 17,
 16,
 246,
 13,
 38,
 28,
 21,
 12,
 765,
 16,
 4,
 253,
 13,
 0,
 25,
 22,
 5610,
 168,
 3,
 79,
 26,
 162,
 8,
 27,
 81,
 5,
 14,
 44,
 22,
 163,
 1054,
 22,
 2,
 108,
 169,
 5,
 38,
 11,
 6,
 10,
 1127,
 55,
 6,
 20,
 5,
 118,
 10,
 64,
 10,
 26,
 159,
 9,
 14,
 44,
 128,
 4,
 17,
 18,
 66,
 42,
 2548,
 9,
 7,
 188,
 62,
 9,
 339,
 6,
 7,
 242,
 13,
 131,
 239,
 354,
 5,
 32,
 6,
 82,
 42,
 37,
 22,
 13,
 55,
 1142,
 2,
 8,
 66,
 325,
 65,
 1,
 39,
 47,
 39,
 37,
 25,
 58,
 34,
 138,
 578,
 33,
 4,
 68,
 358,
 116,
 2,
 152,
 290,
 2,
 41,
 7,
 202,
 3,
 512,
 93,
 31,
 15,
 215,
 478,
 21,
 31,
 64,
 463,
 116,
 6,
 17,
 15,
 21,
 1281,
 55,
 0,
 37,
 0,
 30,
 17,
 16,
 225,
 13,
 37,
 26,
 19,
 11,
 741,
 16,
 4,
 239,
 13,
 0,
 25,
 18,
 5338,
 153,
 3,
 78,
 25,
 150,
 4,
 27,
 81,
 5,
 14,
 44,
 20,
 155,
 1032,
 21,
 2,
 105,
 170,
 4,
 38,
 11,
 6,
 10,
 1070,
 53,
 5,
 20,
 4,
 111,
 10,
 61,
 10,
 26,
 149,
 9,
 14,
 43,
 123,
 4,
 17,
 18,
 65,
 42,
 2474,
 9,
 6,
 187,
 62,
 8,
 320,
 6,
 7,
 236,
 13,
 129,
 233,
 344,
 4,
 32,
 6,
 78,
 42,
 35,
 22,
 12,
 55,
 1110,
 2,
 8,
 66,
 316,
 65,
 0,
 39,
 47,
 39,
 37,
 23,
 55,
 33,
 135,
 574,
 33,
 5,
 68,
 355,
 114,
 2,
 144,
 274,
 2,
 41,
 7,
 194,
 3,
 494,
 91,
 30,
 15,
 209,
 469,
 20,
 31,
 61,
 463,
 112,
 6,
 17,
 15,
 21,
 1248,
 55,
 0,
 37,
 0,
 29,
 16,
 16,
 225,
 13,
 36,
 25,
 17,
 11,
 707,
 16,
 4,
 217,
 12,
 0,
 25,
 18,
 5045,
 149,
 3,
 78,
 24,
 147,
 4,
 27,
 81,
 5,
 13,
 44,
 19,
 154,
 1025,
 20,
 2,
 103,
 167,
 4,
 38,
 11,
 6,
 10,
 1043,
 51,
 4,
 18,
 4,
 109,
 7,
 61,
 9,
 26,
 149,
 9,
 14,
 43,
 122,
 4,
 17,
 ...]

In [76]:
start_date = '03-31-2020'
end_date = '05-01-2020'

mask = (april_data['Report Date'] > start_date) & (april_data['Report Date'] < end_date)

april= april_data.loc[mask]
april.describe()

               FIPS  Total Cases  Hospitalizations       Deaths
count   3990.000000  3990.000000       3990.000000  3990.000000
mean   51263.992481    56.112030          8.899248     1.767419
std      270.892941   196.231258         32.636122     7.831680
min    51001.000000     0.000000          0.000000     0.000000
25%    51069.000000     3.000000          0.000000     0.000000
50%    51139.000000    10.000000          1.000000     0.000000
75%    51550.000000    31.000000          6.000000     1.000000
max    51840.000000  3611.000000        606.000000   134.000000

In [77]:
april['Total Cases +14d'] = cases_14
april['Hosp +14d'] = hosp_14
april['Death +14d'] = death_14
april

C:\Users\belac\anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,Report Date,FIPS,Locality,VDH Health District,Total Cases,Hospitalizations,Deaths,Total Cases +14d
9044,2020-04-30,51001,Accomack,Eastern Shore,264,18,4,593
9045,2020-04-30,51003,Albemarle,Thomas Jefferson,103,16,4,130
9046,2020-04-30,51005,Alleghany,Alleghany,6,4,0,6
9047,2020-04-30,51007,Amelia,Piedmont,15,6,1,17
9048,2020-04-30,51009,Amherst,Central Virginia,12,1,0,21
...,...,...,...,...,...,...,...,...
13029,2020-04-01,51800,Suffolk,Western Tidewater,6,1,0,59
13030,2020-04-01,51810,Virginia Beach,Virginia Beach,88,13,3,256
13031,2020-04-01,51820,Waynesboro,Central Shenandoah,2,0,0,6
13032,2020-04-01,51830,Williamsburg,Peninsula,9,3,1,19
13033,2020-04-01,51840,Winchester,Lord Fairfax,5,0,0,21

In [ ]:
target=april_data.loc[(april_data["Report Date"]=="2020-04-01")&(april_data["Locality"]=="Richmond City"),:]
target

In [ ]:
target2=april_data.loc[(april_data["Report Date"]=="2020-04-15")&(april_data["Locality"]=="Richmond City"),:]
target2

In [ ]:
cases_14=[]
hosp_14=[]
death_14=[]